body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

#header {
    display: flex;
}

.header-content {
    width: 40%;
    margin-left: 10%;
}

.header-content h1 {
    font-size: 50px;
    color: #575757;
}

.header-content p {
    color: #8c8c8c;
    padding-bottom: 30px;
}

.header-content span {
    color: #fb5200;
}

.header-image {
    width: 50%;
}

.header-image img {
    width: 100%;
}

.food-button {
    text-decoration: none;
    font-weight: 700;
    padding: 10px 35px;
    background-image: linear-gradient(to right, #FB9A4C, #FE4C2F);
    border-radius: 50px;
    color: #fff;
}


/* About Section Start */

#about {
    display: flex;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}

.about-image {
    width: 40%;
    padding-left: 5%;
}

.about-content {
    width: 40%;
}

.about-content h2 {
    font-size: 35px;
}

.about-content p {
    color: #7e7d7d;
    padding-bottom: 25px;
}


/* Recipies Section Start */

#recipies {}

.recipies-head {
    text-align: center;
}

.recipies-head h2 {
    color: #676767;
    font-size: 35px;
}

.recipies-head p {
    color: #676767;
    width: 700px;
    margin: 0 auto;
}

.recipies-menu {
    display: flex;
    margin-top: 35px;
}

.recipi-item {
    width: 25%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 20px;
}

.last {
    margin-right: 5%;
}

.recipi-item img {
    width: 100%;
}

.recipi-item h5 {
    font-size: 22px;
}

.recipi-item p {
    color: #66676B;
}


/* Follower Section Start */

#followers {
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    border-radius: 20px;
    margin-top: 80px;
}

.follower-item {
    text-align: center;
    padding-left: 15%;
}

.follower-item h2 {
    padding-top: 30px;
    font-size: 40px;
}

.follower-item p {
    padding-bottom: 30px;
}


/* Registration Section Start */

#Registration {
    /* background: chocolate; */
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    margin-top: 60px;
}

.form {
    padding-left: 5%;
}

.form h2 {
    text-align: center;
}

.form-design {
    width: 45%;
    padding: 5px 0px 5px 10px;
    border: none;
    margin-bottom: 10px;
    font-size: 16px;
    color: #676767;
    border: 1px solid rgb(22, 22, 22);
}

.text-area {
    width: 92%;
}

.submit {
    text-align: center;
    font-size: 16px;
    color: #000;
    background: #fb5200;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer {
    background: #0B0D17;
    padding: 30px 0px;
    text-align: center;
    margin-top: 20px;
}

.footer-content span {
    color: #fb5200;
}

.footer-content h2 {
    color: #5B5B5B;
    font-size: 30px;
}

.footer-content p {
    color: #465A6A;
}